<?xml version="1.0"?>
<launch>
  <arg name="kbd_teleop" default="false"/>
  <arg name="rqt_teleop" default="false"/>
  <arg name="scene_file" default="$(find pedsim_simulator)scenarios/social_contexts.xml"/>
  <arg name="default_queue_size" default="10"/>
  <arg name="max_robot_speed" default="1.5"/>
  <arg name="robot_mode" default="1"/>
  <arg name="enable_groups" default="true"/>
  <arg name="with_robot" default="true"/>
  <arg name="pose_initial_x" default="5.0"/>
  <arg name="pose_initial_y" default="5.0"/>
  <arg name="pose_initial_theta" default="0.0"/>
  <arg name="simulation_factor" default="1"/>
  <arg name="update_rate" default="25.0"/>
  <arg name="spawn_period" default="5.0"/>
  <arg name="robot_base_frame_id" default="base_link"/>
  <arg name="frame_id" default="odom"/>
  <arg name="robot_radius" default="0.45"/>
  <arg name="seed" default="0"/> <!-- Set seed to greater than 0 to use fixed seed-->

  <!-- main simulator node -->
  <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen" respawn="true">
    <param name="scene_file" value="$(arg scene_file)" type="string"/>
    <param name="default_queue_size" value="$(arg default_queue_size)" type="int"/>
    <param name="max_robot_speed" value="$(arg max_robot_speed)" type="double"/>
    <param name="robot_mode" value="$(arg robot_mode)" type="int"/>
    <param name="enable_groups" value="$(arg enable_groups)" type="bool"/>
    <param name="simulation_factor" value="$(arg simulation_factor)" type="double"/>
    <param name="update_rate" value="$(arg update_rate)" type="double"/>
    <param name="spawn_period" value="$(arg spawn_period)" type="double"/>
    <param name="robot_base_frame_id" value="$(arg robot_base_frame_id)" type="string"/>
    <param name="frame_id" value="$(arg frame_id)" type="string"/>
    <param name="seed" value="$(arg seed)" type="int"/>
    <param name="robot_radius" value="$(arg robot_radius)" type="double"/>
  </node>

  <!-- Robot controller (optional) -->
  <!-- <group ns="pedbot/control" if="$(arg with_robot)">
    <include file="$(find pedsim_simulator)/launch/robot_controller.launch">
      <arg name="kbd_teleop" value="$(arg kbd_teleop)"/>
      <arg name="rqt_teleop" value="$(arg rqt_teleop)"/>
      <arg name="pose_initial_x" value="$(arg pose_initial_x)"/>
      <arg name="pose_initial_y" value="$(arg pose_initial_y)"/>
      <arg name="pose_initial_theta" value="$(arg pose_initial_theta)"/>
    </include>
  </group> -->

</launch>
